/* Resets and Clearfix
-------------------------------------------------------------- */
/*html,body,h1,h2,h3,h4,h5,h6,p,img,ul,ol,li,form,fieldset {
	border:0 none;
	margin:0;
	padding:0;
}*/

/* Containers
----------------------------------------------------------------------------------------------------*/
.container {
	margin-left:auto;
	margin-right:auto;
	width:960px!important;
	min-width:960px!important;
	box-shadow:2px 2px 14px #000;
	background:#000;
	padding-right: 0 !important; 
	padding-left: 0 !important;
}

/* Generic classes
----------------------------------------------------------------------------------------------------*/
.display-block {
	display:block;
}

.hide {
	display:none;
}

/* Colors
--------------------------------------------------------------  */
gold {
/* california */
	color:#b78727;
}

blue {
/* yale */
	color:#0F4D92;
/* 	other blue = #0a224e  */
}

/* Background
--------------------------------------------------------------  */
.background {
	background-color:#f3f3f3;
/* 				background-image: url(../images/logo/Berkeley.jpg); */
	background-image:url(../images/logo/background.png);
	background-repeat:no-repeat;
	background-position:top center;
/* 				background-size: cover; */
	background-attachment:scroll;
	padding-bottom:50px;
}

/* social
--------------------------------------------------------------  */
.social-top {
	background-color:#0a224e;
}

.social-top img {
	width:50px;
	height:50px;
	margin:10px 5px;
}

/* banner
--------------------------------------------------------------  */
.cover {
	border-bottom:3px solid #b78727;
	border-top:3px solid #b78727;
/* 	background:url(../images/logo/cal_banner.jpg) no-repeat top center; */
	background:url(../images/logo/cal_banner_blue.png) no-repeat top center;
	height: 148px;
}

.content {
/* 	height: 1000px; */
	background-color:#f2f2f2;
	width:960px!important;
	padding-bottom: 20px;
}

/* Site Navigation
-------------------------------------------------------------- */
.navbar,.dropdown-menu {
	border-bottom:3px solid #b78727!important;
	background-color:#0a224e!important;
	margin:0!important;
	padding:0!important;
}

.navbar{
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	min-height: 0 !important;
	border-radius:0 !important;
}

.dropdown-menu {
	border-top:2px solid #b78727!important;
	border-bottom:2px solid #b78727!important;
	border-radius:0 !important;
}


.nav {
	list-style:none!important;
	letter-spacing:.2em!important;
}

.nav li {
	margin:0!important;
	padding:0!important;
}

.nav li a {
	text-transform:capitalize!important;
	display:block!important;
	text-decoration:none!important;
	font-size:16px!important;
	font-weight:500;
	margin:0!important;
	padding:10px 0!important;
	color:#b78727!important;
}

.navbar .nav > li.dropdown.open.active > a:hover,.navbar .nav > li.dropdown.open > a {
	color:#b88726!important;
	background-color:#0a224e!important;
	border-color:#fff;
}

.navbar .nav > li .navbar .nav > li {
	color:#b78727!important;
	background-color:#0a224e!important;
	border-color:#fff;
}

.navbar .nav > li.dropdown.close.active > a:hover,.navbar .nav > li.dropdown.close > a {
	color:#b78727!important;
	background-color:#0a224e!important;
	border-color:#fff;
}

.nav li a:hover,.nav li a.current,.nav li.active a,.nav li a:active {
	background:#eab92d!important;
/* Old browsers */
	background:-moz-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(234,185,45,1)),color-stop(100%,rgba(199,152,16,1)));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* IE10+ */
	background:linear-gradient(to bottom,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d',endColorstr='#c79810',GradientType=0);
/* IE6-9 */
	color:#0F4D92!important;
	font-weight:500!important;
}

.nav li ul li a {
	padding-left:20px!important;
}

.home-carousel {
/* 	width: 700px; */
	padding:20px 10px;
	padding-right:0;
}

.carousel {
	border:10px ridge #eab92d;
	width:620px!important;
}

.twitter-timeline {
	padding:0 15px;
	margin-top:20px;
	height:390px;
}

.article {
	padding:0!important;
	margin:10px!important;
	margin-bottom:30px!important;
	box-shadow:0 1px 6px #000;
	background:#ededed;
}

.events {
	padding:0 15px;
	margin-top:15px;
	margin-right:20px;
	height:390px;
}

.article h3 {
/* background-color: #b78727; */
	background:#eab92d;
/* Old browsers */
	background:-moz-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(234,185,45,1)),color-stop(100%,rgba(199,152,16,1)));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* IE10+ */
	background:linear-gradient(to bottom,rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d',endColorstr='#c79810',GradientType=0);
/* IE6-9 */
	color:#0F4D92;
	text-align:center;
	border-bottom:2px double #1d3c97;
	padding:0!important;
	margin:0!important;
	width:100%;
}

.article p,.article h6,.article h5 {
	color:#000;
	padding:5px;
}

.article ul {
	color:#000;
	padding:5px;
	list-style:none;
	font-size:12px;
}

.article li {
	color:#000;
	padding:2px;
	list-style:none;
	font-size:12px;
}

.news-article {
	width:800px;
	margin:0 100px;
	padding:5px 0;
}

.media-img {
	width:200px;
	height:auto;
}

.top-title {
	text-align:center;
	color:#000;
	font-weight:600;
	font-size:40px;
	padding:15px 0;
}

.bio-pic {
	margin:0 10px;
	width:200px;
}

.faq {
	text-align:center;
	width:700px;
	padding-left:100px;
}

footer {
	background:#0a224e;
	color:#fff;
	text-align:center;
	font-size:80%;
	margin:0!important;
	padding:40px!important;
}

.panel-body {
	margin:0!important;
	padding:10px 15px!important;
}

.lead {
	padding:50px;
	padding-bottom:0;
}

.modal-img {
	width:375px!important;
	padding:5px;
	margin:10px;
	margin-right:20px;
	float:left;
}

.modal-body {
	height:350px;
}

.modal-list {
	font-size:13px;
	list-style:none;
	margin:10px;
}

.form {
	background-color:#303030;
	width:960px;
	margin-left:15px;
	margin-top:3px;
	padding-left:150px;
}

#recruiter-form {
	padding-top:50px;
}

.contact {
	font-size:120%;
	padding-top:20px;
}

.map {
	margin-bottom:50px;
	margin-top:50px;
}

thead {
	font-size:14px;
}

tbody {
	font-size:11px;
}

.alumnichallenge {
	font-size:115%;
}

footer a {
	color:#428bca!important;
}

/* unvisited link */
footer a:visited {
	color:#428bca!important;
}

/* visited link */
footer a:hover {
	color:#2c6fab!important;
}

/* mouse over link */
footer a:active {
	color:#428bca!important;
}

/* selected link */